<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#62DD8B">
    {{ partial "meta_nonposts.html" . }}
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Muli:300,400,700|Montserrat:300,400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <title> {{ .Title }} team - The Swamp Donkeys </title>
</head>
<body>
    
        {{ partial "navbar" . }}

        <div class="main-wrapper">
   
           <div id="team-page-wrapper">
   
               <h1 class="default-panel">{{.Title}}</h1>

               <div id="players-wrapper">

                {{ $var := .Params.rosterdata }}
   
                {{.Content}}

                    {{ range (index .Site.Data $var) }}

                    <div class="player-card">

                        <img src="{{.Site.BaseURL}}/assets/players/{{ .photoURL }}.png" id="{{ .ingamename }}" alt="" />

                        <a class="player-card-info" href="{{ .ingamename }}">

                            <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/flags/1x1/{{ .nationality }}.svg" class="player-card-flag" />

                            <p class="player-card-name" > {{ .firstname }} "{{ .ingamename }}" {{ .lastname }} </p> 
                            
                            <p class="player-card-role"> {{ .role }}  </p>
                        
                        </a>
                                
                    </div>

                {{ end }}

            </div>
   
           </div>

           <script>

            let chrisImg = document.getElementById("L3-");

            let counter = 0;
           
            chrisImg.onclick = function() {chrisDabs()};

            var word = "dab";

            var input = "";

            document.body.addEventListener('keypress',function(ev){

                input += String.fromCharCode(ev.keyCode);

                console.log(input);

                if(input == word){

                    console.log(input);
                    chrisDabs();
                    input = "";

                }

            });

            function chrisDabs(){


                setTimeout(function(){

                    chrisImg.classList.toggle("dab");
                    chrisImg.src="/assets/players/chrisdabright.png";

                    setTimeout(function(){

                        chrisImg.src="/assets/players/chrisdableft.png";

                    }, 300);

                        setTimeout(function(){

                            chrisImg.classList.toggle("dab");
                            chrisImg.src="/assets/players/L3.png";

                        }, 600);

                }, 900);
                
            }
           
            </script>
   
       </div>
   
        {{ partial "footer" . }}
     
</body>

{{ template "_internal/google_analytics.html" . }}

</html>
