<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#62DD8B">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Muli:300,400,700|Montserrat:300,400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <title> {{ .Title }} team - The Swamp Donkeys </title>
</head>
<body>
    
        {{ partial "navbar" . }}

        <div class="main-wrapper">
   
           <div id="team-page-wrapper" class="default-panel">
   
               <h1>{{.Title}}</h1>

               <div id="players-wrapper">

                {{ $var = ( print .Title + "roster" ) }}
   
                {{.Content}}

                    {{ range .Site.Data.CSGOroster }}

                    <div class="player-card">

                        <img src="{{.Site.BaseURL}}/assets/players/{{ .photoURL }}.png" alt="" />

                        <a href="/{{ .ingamename }}">

                            <h1> {{ $var }} </h1>
                            
                            <p class="player-card-name" > {{ .firstname }} "{{ .ingamename }}" {{ .lastname }} </p> 
                            
                            <p class="player-card-role"> {{ .role }}  </p>

                        
                        </a>

        
                        <!-- <a class="game-logo"> <img src="/assets/logos/{{ .team }}.svg"/> </a> -->
                                
                    </div>

                {{ end }}

            </div>
   
           </div>
   
       </div>
   
        {{ partial "footer" . }}
     
</body>
</html>
