* {
  padding: 0;
  margin: 0; }

a {
  color: #F5F5F5;
  text-decoration: none; }

nav {
  width: 100%;
  color: white;
  background-color: #62DD8B;
  display: flex;
  justify-content: space-between;
  z-index: 6;
  position: relative; }
  nav #nav-title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center; }
    nav #nav-title a {
      font-family: "Lobster", cursive;
      font-size: 20pt;
      color: white;
      margin-left: 55px;
      min-width: 215px; }
    nav #nav-title img {
      height: 50px;
      position: absolute; }
  nav .menu-top-hover {
    transform: translateY(12px) rotate(45deg); }
  nav .menu-bottom-hover {
    transform: translateY(-12px) rotate(-45deg); }
  nav .menu-middle-hover {
    opacity: 0; }
  nav #mobile-menu-hamburger {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-right: 10px;
    transition: all 0.5s; }
    @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
      nav #mobile-menu-hamburger {
        display: none; } }
    @media only screen and (min-device-width: 1780px) {
      nav #mobile-menu-hamburger {
        display: none; } }
    nav #mobile-menu-hamburger .menu-bar {
      content: "";
      background-color: #F5F5F5;
      height: 6px;
      width: 30px;
      transition: all 0.5s;
      transform-origin: 50% 50%; }
    nav #mobile-menu-hamburger #menu-top {
      transform-origin: 50% 50%; }
  nav #desktop-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 500px; }
    @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
      nav #desktop-menu {
        display: flex; } }
    @media only screen and (min-device-width: 1780px) {
      nav #desktop-menu {
        display: flex; } }
    nav #desktop-menu li {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      display: inline;
      padding: 10px 0;
      margin-right: 20px;
      position: relative; }
      nav #desktop-menu li a {
        color: white;
        font-size: 15pt;
        text-decoration: none; }
        nav #desktop-menu li a:after {
          content: "";
          background-color: white;
          height: 5px;
          width: 0;
          position: absolute;
          bottom: 0;
          transition: all 0.5s;
          transition-timing-function: cubic-bezier(0.69, 0.38, 0.17, 0.87); }
        nav #desktop-menu li a:hover:after {
          width: 100%; }

#mobile-menu {
  background-color: #62DD8B;
  transition: 0.5s all;
  top: -288px;
  position: absolute;
  width: 100%;
  z-index: 1; }
  #mobile-menu li {
    border-top: 1px solid #d2f9dd;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center; }
    #mobile-menu li a {
      color: white;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      font-size: 1.6em;
      align-self: center; }

.mobile-toggle {
  transform: translateY(352px); }

body {
  background-color: #222;
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23333333' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Montserrat", sans-serif; }

.main-wrapper {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 60px; }

#home-wrapper {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto; }
  @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
    #home-wrapper {
      display: inline; }
      #home-wrapper div {
        margin: 0 auto; } }

h1 {
  color: #d2f9dd; }

.default-panel {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #333;
  box-sizing: border-box;
  padding: 20px;
  border-top: 6px solid #62DD8B; }
  .default-panel h1, .default-panel h2 {
    color: #d2f9dd; }

@media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
  #news-wrapper {
    max-width: 80%; } }
@media only screen and (min-device-width: 1780px) {
  #news-wrapper {
    min-width: 500px;
    max-width: 600px;
    order: 2; } }
#news-wrapper #home-main-news {
  background-color: #333;
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border-top: 6px solid #62DD8B; }
  #news-wrapper #home-main-news * {
    margin: 5px 0; }
  #news-wrapper #home-main-news h2 {
    text-decoration: none; }
    #news-wrapper #home-main-news h2 a {
      text-decoration: none;
      color: #62DD8B; }
  #news-wrapper #home-main-news img {
    width: 100%; }
  #news-wrapper #home-main-news .home-news-title a {
    font-size: 1.2em; }
    #news-wrapper #home-main-news .home-news-title a:hover {
      color: #82e3a2; }
  #news-wrapper #home-main-news .home-news-date {
    font-weight: 300;
    color: #777;
    font-style: italic; }
  #news-wrapper #home-main-news p {
    text-overflow: ellipsis;
    color: #F5F5F5;
    font-weight: 300; }
  #news-wrapper #home-main-news #read-more {
    color: #62DD8B;
    font-weight: 700; }
    #news-wrapper #home-main-news #read-more:hover {
      color: #82e3a2; }
#news-wrapper #home-secondary-news {
  border-top: 6px solid #62DD8B;
  margin-bottom: 20px; }
  #news-wrapper #home-secondary-news .secondary-news-item:last-of-type {
    border-bottom: none; }
  #news-wrapper #home-secondary-news .secondary-news-item {
    background-color: #333;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #d2f9dd; }
    #news-wrapper #home-secondary-news .secondary-news-item .secondary-news-title {
      margin: 0; }
      #news-wrapper #home-secondary-news .secondary-news-item .secondary-news-title a {
        color: #d2f9dd;
        font-size: 0.8em;
        font-weight: 500; }
      #news-wrapper #home-secondary-news .secondary-news-item .secondary-news-title :hover {
        transform: translateY(-1px); }
        #news-wrapper #home-secondary-news .secondary-news-item .secondary-news-title :hover a {
          text-shadow: 1px 1px rgba(126, 126, 126, 0.5); }
    #news-wrapper #home-secondary-news .secondary-news-item .secondary-news-date {
      color: #F5F5F5;
      text-align: right;
      min-width: 100px;
      margin: 0; }

#matches-wrapper {
  width: 100%;
  order: 2; }
  @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
    #matches-wrapper {
      max-width: 600px; } }
  @media only screen and (min-device-width: 1780px) {
    #matches-wrapper {
      max-width: 500px;
      order: 1; } }
  #matches-wrapper a {
    color: #F5F5F5; }
  #matches-wrapper #upcoming-matches, #matches-wrapper #recent-matches {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    #matches-wrapper #upcoming-matches h2, #matches-wrapper #recent-matches h2 {
      text-align: left;
      color: #d2f9dd;
      padding: 10px;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      font-weight: 700; }
    #matches-wrapper #upcoming-matches .win, #matches-wrapper #recent-matches .win {
      background-color: #4CAF50; }
    #matches-wrapper #upcoming-matches .loss, #matches-wrapper #recent-matches .loss {
      background-color: #E53935; }
    #matches-wrapper #upcoming-matches .match:nth-child(odd), #matches-wrapper #recent-matches .match:nth-child(odd) {
      background-color: #444; }
    #matches-wrapper #upcoming-matches .match, #matches-wrapper #recent-matches .match {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #matches-wrapper #upcoming-matches .match .upcoming-fixture, #matches-wrapper #recent-matches .match .upcoming-fixture {
        display: flex;
        align-self: center; }
      #matches-wrapper #upcoming-matches .match a, #matches-wrapper #recent-matches .match a {
        padding: 10px;
        align-items: center;
        text-align: center;
        color: #F5F5F5;
        font-size: 0.8em; }
      #matches-wrapper #upcoming-matches .match img, #matches-wrapper #recent-matches .match img {
        height: 40px; }

#twitter-wrapper {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5); }
  #twitter-wrapper #twitter-widget-wrapper {
    height: 400px; }
  @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
    #twitter-wrapper {
      max-width: 600px;
      order: 3; } }
  @media only screen and (min-device-width: 1780px) {
    #twitter-wrapper {
      max-width: 600px;
      height: 400px;
      order: 3; } }
  #twitter-wrapper h2 {
    padding: 20px;
    background-color: #333;
    width: 100%;
    color: #d2f9dd;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5); }
  #twitter-wrapper #twitter-border {
    height: 6px;
    width: 100%;
    background-color: #62DD8B;
    content: ""; }

#single-post-wrapper {
  width: 100%;
  padding-bottom: 40px; }
  @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
    #single-post-wrapper {
      width: 50%;
      margin: 0 auto; } }
  @media only screen and (min-device-width: 1780px) {
    #single-post-wrapper {
      width: 800px;
      margin: 0 auto; } }
  #single-post-wrapper * {
    margin-bottom: 10px; }
  #single-post-wrapper h1 {
    color: #62DD8B; }
  #single-post-wrapper #single-post-date, #single-post-wrapper h4 {
    color: #999;
    font-style: italic;
    font-weight: 300; }
  #single-post-wrapper h4 {
    margin: 10px 0; }
  #single-post-wrapper img {
    display: block;
    width: 100%;
    margin: 0 auto; }
  #single-post-wrapper p {
    color: #F5F5F5; }

#rosters-list-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px; }
  @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
    #rosters-list-wrapper {
      width: 500px; } }
  @media only screen and (min-device-width: 1780px) {
    #rosters-list-wrapper {
      width: 800px; } }
  #rosters-list-wrapper h1 {
    margin-bottom: 10px; }
  #rosters-list-wrapper a {
    text-decoration: none; }
  #rosters-list-wrapper .roster-link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-size: 400px;
    margin-bottom: 10px;
    border-left: 6px solid #62DD8B; }
    #rosters-list-wrapper .roster-link:hover h2 {
      color: #62DD8B; }
    #rosters-list-wrapper .roster-link h2 {
      color: #d2f9dd;
      text-decoration: none; }
    #rosters-list-wrapper .roster-link img {
      height: 40px; }

#team-page-wrapper {
  width: 100%;
  color: white;
  overflow: hidden; }
  #team-page-wrapper h1 {
    margin-bottom: 20px; }
  #team-page-wrapper #players-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    #team-page-wrapper #players-wrapper .player-card {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column; }
      @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
        #team-page-wrapper #players-wrapper .player-card {
          margin-right: 20px; } }
      @media only screen and (min-device-width: 1780px) {
        #team-page-wrapper #players-wrapper .player-card {
          max-width: 320px;
          margin-right: 20px; } }
      #team-page-wrapper #players-wrapper .player-card img {
        align-self: center;
        margin-top: 20px; }
      @media only screen and (max-device-width: 640px) {
        #team-page-wrapper #players-wrapper .player-card .dab {
          width: 100vw;
          padding-top: 60px; } }
      #team-page-wrapper #players-wrapper .player-card .player-card-info {
        display: flex;
        align-items: center; }
      #team-page-wrapper #players-wrapper .player-card .player-card-flag {
        height: 40px;
        padding: 10px;
        margin: auto 0; }
      #team-page-wrapper #players-wrapper .player-card .player-card-name {
        font-size: 1.1em;
        font-weight: 700; }
      #team-page-wrapper #players-wrapper .player-card a {
        text-align: center;
        background-color: #62DD8B; }
        #team-page-wrapper #players-wrapper .player-card a:hover {
          background-color: #82e3a2; }
      #team-page-wrapper #players-wrapper .player-card p {
        padding: 10px;
        box-sizing: border-box; }
      #team-page-wrapper #players-wrapper .player-card:last-of-type {
        margin-bottom: 0; }

footer {
  position: fixed;
  bottom: 0;
  background-color: #62DD8B;
  width: 100%; }
  footer ul {
    display: flex;
    justify-content: space-around; }
    footer ul li {
      display: inline-block;
      padding: 15px; }
      footer ul li a {
        text-decoration: none;
        color: #222;
        transition: all 0.3s; }
        footer ul li a:hover {
          color: white; }
        @media only screen and (min-device-width: 640px) and (max-device-width: 1780px) {
          footer ul li a {
            font-size: 1.4em; } }
        @media only screen and (min-device-width: 1780px) {
          footer ul li a {
            font-size: 1.4em; } }

/*# sourceMappingURL=main.css.map */
