body{
    background-color: #222;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
    background-image: url("/assets/testbg.png");
    background-size: 220px;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#home-wrapper{
    font-family: $text-font;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

    a{
        color: #222;
    }

    #home-main-news{
        background-color: $secondary-green;
        padding: 10px;
        width: 700px;
        flex-grow: 1;
        margin: 0 auto;
        margin-bottom: 20px;

        img{
            width: 100%;
        }

        .home-news-title{
            
            a{
                font-size: 1.2em;
            }
        }

        .home-news-date{
            
            color: #555;
            font-style: italic;
        }

        p{
            text-overflow: ellipsis;
        }

    }

    #home-secondary-news{
        
        .secondary-news-item{
            background-color: $secondary-green;
            padding: 10px;
            width: 700px;
            margin: 0 auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .secondary-news-title{

                a{
                    font-size: 0.8em;
                }

            }

            .secondary-news-date{
                text-align: right;
                min-width: 100px;
            }

        }


    }


}