#matches-wrapper{
    width: 100%;
    order: 2;

    @include tablet{
        max-width: 600px;
    }

    @include desktop{
        max-width: 500px;
        order: 1;
    }

    a{
        color: $off-white;
    }

    #upcoming-matches, #recent-matches{
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;


        h2{
            text-align: left;
            color: $secondary-green;
            padding: 10px;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
            font-weight: 700;
        }

        .win{
            background-color: #4CAF50;
        }

        .loss{
            background-color: #E53935;
        }

        .match:nth-child(odd){
            background-color: #444;
        }

        .match{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    

            .upcoming-fixture{
                display: flex;
                align-self: center;
            }

            a{
                padding: 10px;
                align-items: center;
                text-align: center;
                color: $off-white;
                font-size: 0.8em;
   
            }


            img{
                height: 40px;
            }

        }

    }

}