#matches-wrapper{
    width: 500px;

    #matches, #recent-matches{
        background-color: #444;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
        border-top: 6px solid $main-green;


        h2{
            text-align: left;
            color: $secondary-green;
            padding: 5px;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
            font-weight: 700;
            font-weight: bold;

        }

        .win{
            background-color: #4CAF50;
        }

        .loss{
            background-color: #E53935;
        }

        .match:nth-child(odd){
            background-color: #333;
        }

        .match{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .game-logo{
                flex-grow: 1;
                min-width: 80px;

            }

            .upcoming-fixture{
                display: flex;
                align-self: center;
            }

            a{
                padding: 10px;
                align-items: center;
                text-align: center;
                color: $off-white;
   
            }


            img{
                height: 40px;
                margin: 0 20px;
            }

            .fixture-date{
            }

        }

    }

}