#single-post-wrapper{
    width: 100%;

    @include tablet{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    @include desktop{
        width: 800px;
        margin: 0 auto;
        padding-bottom: 40px;

    }

    *{
        margin-bottom: 10px;
    }

    h1{
        color: $main-green;
    }

    #single-post-date, h4{
        color: #999;
        font-style: italic;
        font-weight: 300;
    }

    h4{
        margin: 10px 0;
    }

    img{
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    p{
        color: $off-white;
    }

    ul{
        list-style-position: inside;

        li{

            color: $off-white;

        }

        img{
            height: 20px;
        }

    }

    #comments-heading{
        margin-top: 40px;
        color: $main-green;
    }

    #disqus_thread{
        width: 100%;
        box-sizing: border-box;
        font-family: $text-font;

    }

    #social-media-wrapper{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        .social-share{
            padding: 5px;
            margin-left: 10px;
            display: flex;
            align-items: baseline;

            svg{
                margin: 0 10px 0 0;
                align-self: center;
            }

        }
    
        #facebook-share{
            background-color: #3b5998;

            &:hover{
                background-color: #5a7abf;
            }
        }
    
        #twitter-share{
            background-color: #00aced;

            &:hover{
                background-color: #33c9ff;
            }
        }
    
    }

}