#team-page-wrapper{
    width: 100%;
    color: white;

    h1{
        margin-bottom: 20px;
    }

    #players-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;

        .player-card{
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;

            @include tablet{
                margin-right: 20px;
            }

            @include desktop{
                max-width: 320px;
                margin-right: 20px;
            }

            img{
                align-self: center;
                margin-top: 20px;
            }

            .dab{

                @include mobile{
                    width: 100vw;
                    padding-top: 60px;
                }

            }

            .player-card-info{
                display: flex;
                align-items: center;
                box-shadow: $shadow;

            }

            .player-card-flag{
                height: 40px;
                padding: 10px;
                margin: auto 0;
    
            }
        
            .player-card-name{
                font-size: 1.1em;
                font-weight: 700;
            }

            a{
                text-align: center;
                background-color: $main-green;

                &:hover{
                    background-color: $main-green-hover;
                }
            }
    
            p{
                padding: 10px;
                box-sizing: border-box;
            }
    
            &:last-of-type{
                margin-bottom: 0;
            }
    
        }

    }

}