#twitter-wrapper{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);

    #twitter-widget-wrapper{
        height: 400px;
    }

    @include tablet{
        max-width: 600px;
        order: 3;
    }

    @include desktop{
        max-width: 600px;
        height: 400px;
        order: 3;
    }

    h2{
        padding: 20px;
        background-color: #333;
        width: 100%;
        color: $secondary-green;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

    #twitter-border{
        height: 6px;
        width: 100%;
        background-color: $main-green;
        content: "";
    }
}