<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#62DD8B">
        {{ partial "meta_nonposts.html" . }}
        <script src="/js/twitter_feed.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Muli:300,400,700|Montserrat:300,400,500,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title> {{.Title}} - The Swamp Donkeys </title>
</head>
<body>
    {{ partial "navbar" }}


    {{.Content}}

    <div id="list-wrapper" class="main-wrapper">

    <h1 class="default-panel"> News </h1>

    {{ range .Pages }}

            <div class="default-panel news-list-link">

               <div>
                    <h2> <a href="{{.URL}}"> {{.Title}} </a> </h2>
               </div>

               <div class="post-date list-post-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
              
               <p>{{.Summary}}</p>

               <a class="read-more" href="{{ .URL }}"> Read More </a>

            </div>


     {{ end }}

    </div>

     {{ partial "footer" . }}

</body>

{{ template "_internal/google_analytics.html" . }}

</html>
