<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#62DD8B">
    {{ partial "meta_posts" . }}
    <script src="/js/twitter_feed.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Muli:300,400,700|Montserrat:300,400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title> {{.Title}} - The Swamp Donkeys </title>
</head>
<body>
    
     {{ partial "navbar" . }}

     <div class="main-wrapper">

        <div id="single-post-wrapper">

            <h1>{{.Title}}</h1>

            <div id="single-post-content-wrapper" class="default-panel">

                <div id="single-post-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
                <div> {{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>

                <div> {{.Content}} </div>

                <div id="social-media-wrapper">

                    <!-- Twitter share button -->
                    <a id="twitter-share" class="social-share" href='http://twitter.com/share?url={{ .Permalink  }}&text={{ .Title }}&via=TheSwampDonkeysEsports' class='button'> <i class="fab fa-twitter"></i> Tweet </a>

                    <a id="facebook-share" class="social-share"href="http://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"> <i class="fab fa-facebook"></i> Facebook </a>

                </div>

                <h2 id="comments-heading"> Comments </h2>

                <!-- Disqus partial for comments -->
                {{ partial "disqus.html" . }}

            </div>

        </div>

    </div>

     {{ partial "footer" . }}

</body>

{{ template "_internal/google_analytics.html" . }}

</html>