<meta property="og:site_name" content="www.theswampdonkeys.com" />
    <meta property="og:description" content="The Swamp Donkeys are an esports organisation from the UK. We pride ourselves on being the only esports organisation to be founded in Devon, UK." />
    <meta name="keywords" content="esports, DOTA2, CSGO, TSD, The Swamp Donkeys, UK" />
    <meta name="description" content="The Swamp Donkeys are an esports organisation from the UK. We pride ourselves on being the only esports organisation to be founded in Devon, UK." />