<nav> 

    <div id="nav-title"> 
        <img src="/assets/tsd_nav.svg" alt="The Swamp Donkeys Logo">
        <a> The Swamp Donkeys </a>
    
    </div>

    <div id="mobile-menu-hamburger" onClick="hamburgerAnimation()">

        <div class="menu-bar" id="menu-top"></div>

        <div class="menu-bar" id="menu-middle"></div>

        <div class="menu-bar" id="menu-bottom"></div>

    </div>

    <script> 
    
    function hamburgerAnimation(){

        document.getElementById("menu-top").classList.toggle("menu-top-hover");
        document.getElementById("menu-middle").classList.toggle("menu-middle-hover");
        document.getElementById("menu-bottom").classList.toggle("menu-bottom-hover");

        document.getElementById("mobile-menu").classList.toggle("mobile-toggle");

    }
    
    </script>

    <ul id="desktop-menu">
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/rosters/"> Rosters </a> </li>
        <li> <a href="/news/"> News </a> </li>
        <li> <a href=" "> Store </a> </li>
    </ul>


</nav>

<ul id="mobile-menu">
    <li> <a href="/"> Home </a> </li>
    <li> <a href="/rosters/"> Rosters </a> </li>
    <li> <a href="/news/"> News </a> </li>
    <li> <a href=" "> Store </a> </li>
</ul>