<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400" rel="stylesheet">
    <title> The Swamp Donkeys </title>
</head>
<body>

    {{ partial "navbar" }}

    <div id="home-wrapper">

    {{.Content}}

    {{ range first 1 .Data.Pages }}
   
        <div id="home-news">

            <img src={{ printf "/assets/%s" $.Params.imageurl }} />

            <h1> {{ .Params.imageurl }} </h1>

            <div class="home-news-title">
                 <h2> <a href="{{.URL}}">{{.Title}} </a> </h2>
            </div>

            <a class="home-news-date"> {{ dateFormat "Monday, Jan 2, 2006" .Date }} </a>

            <div> {{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
            <div> {{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
            <div> {{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

            
            <p>{{.Summary}}</p>

       </div>
       

    {{ end }}

    </div>

</body>
</html>